#book-page {
  --padding: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: var(--padding);
}
#book-page > header {
  position: sticky;
  top: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  place-content: stretch center;
  place-items: stretch center;
  gap: 2rem;
  margin: calc(-1 * var(--padding));
  margin-bottom: calc(-1 * var(--padding) / 2);
  padding: calc(var(--padding) / 2) var(--padding);
  background-color: var(--background-colour);
  border-bottom: 2px solid var(--background-darker-colour);
  transition: background-color 250ms;
  z-index: 1;
}
#book-page > header > form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
#book-page > header > form button {
  --size: 3rem;
}
#book-page > header > form #search-input-field {
  display: flex;
  flex-grow: 1;
  place-content: center start;
  place-items: center start;
  gap: 0.5rem;
}
#book-page > header > form #search-input-field > input {
  flex-grow: 1;
  max-width: min(20rem, 80vw - var(--padding) * 2);
}
#book-page > header > form .drop-down > button > svg {
  stroke: var(--fore-darker-colour);
}
#book-page > header > form .drop-down .drop-down-container .checkbox-field,
#book-page > header > form .drop-down .drop-down-container .checkbox-field label {
  cursor: pointer;
}
#book-page > header > form .drop-down .drop-down-container > *:not(.slider),
#book-page > header > form .drop-down .drop-down-container .slider > * {
  transition: background-color 250ms;
}
#book-page > header > form .drop-down .drop-down-container > *:not(.slider):is(:hover, :focus-within),
#book-page > header > form .drop-down .drop-down-container .slider > *:is(:hover, :focus-within) {
  background-color: var(--background-darker-colour);
}
#book-page > header > form .drop-down .drop-down-container .slider {
  --item-padding: 1rem;
  max-height: 40vh;
  max-height: 40dvh;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-inline: 0;
}
#book-page > header > form .drop-down .drop-down-container .slider > * {
  padding: 1rem;
}
#book-page > header > form .drop-down#price-drop-down .drop-down-container {
  gap: 1rem;
}
#book-page > header > form .drop-down#price-drop-down .drop-down-container label {
  left: 1rem;
}
#book-page > header > form .drop-down#price-drop-down[data-is-open=true] .drop-down-wrapper {
  padding-top: 2rem;
}
#book-page > header.sticking-header:not(:hover, :focus-within) {
  background-color: color-mix(in srgb, var(--background-colour) 60%, transparent 40%);
}
#book-page #book-displayer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 35rem));
  gap: 2rem;
}
#book-page #book-displayer .book-card {
  --card-padding: 1rem;
  position: relative;
  max-width: calc(100vw - var(--padding) * 2);
  aspect-ratio: 13/16;
  border-radius: 1.5rem;
  background-color: var(--background-darker-colour);
  box-shadow: var(--box-shadow);
  transition: transform 250ms;
  overflow: hidden;
  cursor: pointer;
}
#book-page #book-displayer .book-card > form {
  display: none;
}
#book-page #book-displayer .book-card > header {
  position: absolute;
  top: var(--card-padding);
  inset-inline: var(--card-padding);
  display: flex;
  place-content: center space-between;
  place-items: center space-between;
  z-index: 1;
}
#book-page #book-displayer .book-card > header > p {
  font-weight: bold;
  position: relative;
  top: calc(-1 * var(--card-padding));
  left: calc(-1 * var(--card-padding));
  padding: calc(var(--card-padding) * 3 / 4);
  color: var(--background-colour);
  border-bottom-right-radius: 1.5rem;
  background-color: var(--main-colour);
}
#book-page #book-displayer .book-card > header .star-displayer {
  display: grid;
}
#book-page #book-displayer .book-card > header .star-displayer > div {
  display: flex;
  grid-row: 1;
  grid-column: 1;
}
#book-page #book-displayer .book-card > header .star-displayer > div > span {
  width: 2.5rem;
  height: 2.5rem;
  margin-inline: -0.3rem;
  overflow: hidden;
}
#book-page #book-displayer .book-card > header .star-displayer > div > span > svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--gray-colour);
}
#book-page #book-displayer .book-card > header .star-displayer > div > span[data-is-half=true] {
  width: 1.25rem;
}
#book-page #book-displayer .book-card > header .star-displayer > div > span:first-child {
  margin-left: 0;
}
#book-page #book-displayer .book-card > header .star-displayer > div > span:last-child {
  margin-right: 0;
}
#book-page #book-displayer .book-card > header .star-displayer > div:last-child > span svg {
  fill: var(--warning-colour) !important;
}
#book-page #book-displayer .book-card > figure {
  position: relative;
  width: 100%;
  height: 100%;
}
#book-page #book-displayer .book-card > figure > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#book-page #book-displayer .book-card > figure > img:first-child {
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  filter: blur(10px) brightness(80%);
}
#book-page #book-displayer .book-card > figure > img:last-child {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#book-page #book-displayer .book-card > figure::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(transparent, var(--quarter-transparent-colour));
}
#book-page #book-displayer .book-card > figcaption {
  position: absolute;
  bottom: var(--card-padding);
  left: var(--card-padding);
  color: var(--background-colour);
}
#book-page #book-displayer .book-card:is(:hover, :focus-within) {
  transform: scale(1.02);
}