#main-header {
    box-shadow: none;
}

#book-page {
    --padding: 4rem;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding: var(--padding);

    &>header {
        position: sticky;
        top: var(--header-height);

        margin: calc(-1 * var(--padding));
        margin-bottom: calc(-1 * var(--padding) / 2);
        padding: 2rem;

        background-color: var(--background-colour);
        box-shadow: 0 calc(+1 * var(--box-shadow-thickness)) calc(var(--box-shadow-blurriness) / 2) var(--half-transparent-colour);

        transition: background-color 250ms;

        z-index: 2;

        &>form {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            button {
                --size: 3rem;
            }

            #search-input-field {
                display: flex;
                flex-grow: 1;
                place-content: center start;
                place-items: center start;
                gap: 0.5rem;

                &>input {
                    flex-grow: 1;
                    max-width: min(20rem, calc(80vw - var(--padding) * 2));
                }
            }

            .drop-down {

                &>button>svg {
                    stroke: var(--fore-darker-colour);
                }

                .drop-down-container {

                    .checkbox-field,
                    .checkbox-field label {
                        cursor: pointer;
                    }

                    &>*:not(.slider),
                    .slider>* {
                        transition: background-color 250ms;

                        &:is(:hover, :focus-within) {
                            background-color: var(--background-darker-colour);
                        }
                    }

                    .slider {
                        --item-padding: 1rem;

                        max-height: 40vh;
                        max-height: 40dvh;

                        display: flex;
                        flex-direction: column;
                        gap: 0;

                        padding-inline: 0;

                        &>* {
                            padding: 1rem;
                        }
                    }
                }

                &#price-drop-down {

                    .drop-down-container {
                        gap: 1rem;

                        label {
                            left: 1rem;
                        }
                    }

                    &[data-is-open=true] .drop-down-wrapper {
                        padding-top: 2rem;
                    }
                }
            }
        }

        &.sticking-header:not(:hover, :focus-within) {
            background-color: color-mix(in srgb, var(--background-colour) 60%, transparent 40%);
        }
    }

    #book-page-content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        place-content: center;
        gap: 4rem;

        #book-displayer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(28rem, 35rem));
            gap: 2rem;

            .book-card {
                --card-padding: 1rem;

                position: relative;
                max-width: calc(100vw - var(--padding) * 2);
                aspect-ratio: 13 / 16;

                border-radius: 1.5rem;
                background-color: var(--background-darker-colour);
                box-shadow: var(--box-shadow);

                transition: transform 250ms;

                overflow: hidden;

                cursor: pointer;

                &>form {
                    display: none;
                }

                &>header {
                    position: absolute;
                    top: var(--card-padding);
                    inset-inline: var(--card-padding);

                    display: flex;
                    place-content: center space-between;
                    place-items: center space-between;

                    z-index: 1;

                    &>p {
                        font-weight: bold;

                        position: relative;
                        top: calc(-1 * var(--card-padding));
                        left: calc(-1 * var(--card-padding));
                        width: 7ch;

                        padding: calc(var(--card-padding) * 3 / 4);

                        color: var(--background-colour);
                        border-bottom-right-radius: 1.5rem;
                        background-color: var(--main-colour);
                    }

                    .star-displayer {
                        display: grid;

                        z-index: 1;

                        &>div {
                            display: flex;

                            grid-row: 1;
                            grid-column: 1;

                            &>span {
                                $margin-inline: -0.3rem;
                                $size: 2.5rem;

                                width: $size;
                                height: $size;

                                margin-inline: $margin-inline;

                                &>svg {
                                    width: $size;
                                    height: $size;

                                    fill: var(--gray-colour);
                                    stroke: var(--background-colour);
                                }

                                &[data-is-half=true] {
                                    width: calc($size / 2);
                                }

                                &:first-child {
                                    margin-left: 0;
                                }

                                &:last-child {
                                    margin-right: 0;
                                }
                            }

                            &:first-child>span>svg {
                                filter: drop-shadow(3px 3px 3px black);
                            }

                            &:last-child>span {
                                overflow: hidden;

                                z-index: 1;

                                &>svg {
                                    fill: var(--warning-colour) !important;
                                }
                            }
                        }
                    }
                }

                &>figure {
                    $size: 100%;

                    position: relative;
                    width: $size;
                    height: $size;

                    &>img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &:first-child {
                            $size: calc(100% + 2rem);

                            width: $size;
                            height: $size;

                            filter: blur(10px) brightness(80%);
                        }

                        &:last-child {
                            $size: 100%;

                            width: $size;
                            height: $size;

                            object-fit: contain;
                        }
                    }

                    &::after {
                        content: "";

                        position: absolute;
                        inset: 0;

                        background-image: linear-gradient(transparent, var(--quarter-transparent-colour));
                    }
                }

                &>figcaption {
                    position: absolute;
                    bottom: var(--card-padding);
                    left: var(--card-padding);

                    color: var(--background-colour);
                }

                &:is(:hover, :focus-within) {
                    transform: scale(1.02);
                }
            }
        }

        #pagination-button-displayer {
            display: flex;
            place-content: center;
            place-items: center;
            gap: 2rem;

            .slider {
                --item-padding: 1rem;
            }

            button {
                $padding: 0.5rem;

                height: calc(2ic + $padding * 2);
                aspect-ratio: 1;

                padding: $padding;

                border-radius: 100%;

                &.hidden-button {
                    visibility: hidden;
                }
            }
        }

        #no-book-message {
            display: flex;
            place-self: center;
            flex-direction: column;
            gap: 2rem;
        }
    }
}