.advantages {
    display: flex;
    place-content: center space-evenly;
    place-items: center space-evenly;
    gap: 2rem;
}

@media (max-width: 720px) {
    #home-page {
        padding: 2rem !important;
    }
}