#book-display-page {
  --padding: 4rem;
  width: calc(100% - var(--padding) * 2);
  display: flex;
  gap: 4rem;
  padding: var(--padding);
}
#book-display-page .book-card {
  --card-padding: 1rem;
  position: relative;
  height: calc(100vh - var(--header-height) - var(--padding) * 2);
  min-height: 30rem;
  aspect-ratio: 13/16;
  border-radius: 1.5rem;
  background-color: var(--background-darker-colour);
  box-shadow: var(--box-shadow);
  transition: transform 250ms;
  overflow: hidden;
  cursor: pointer;
}
#book-display-page .book-card > form {
  display: none;
}
#book-display-page .book-card > header {
  position: absolute;
  top: var(--card-padding);
  inset-inline: var(--card-padding);
  display: flex;
  place-content: center space-between;
  place-items: center space-between;
  z-index: 1;
}
#book-display-page .book-card > header > p {
  font-weight: bold;
  position: relative;
  top: calc(-1 * var(--card-padding));
  left: calc(-1 * var(--card-padding));
  width: 7ch;
  padding: calc(var(--card-padding) * 3 / 4);
  color: var(--background-colour);
  border-bottom-right-radius: 1.5rem;
  background-color: var(--main-colour);
}
#book-display-page .book-card > header .star-displayer {
  display: grid;
  z-index: 1;
}
#book-display-page .book-card > header .star-displayer > div {
  display: flex;
  grid-row: 1;
  grid-column: 1;
}
#book-display-page .book-card > header .star-displayer > div > span {
  width: 2.5rem;
  height: 2.5rem;
  margin-inline: -0.3rem;
}
#book-display-page .book-card > header .star-displayer > div > span > svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--gray-colour);
  stroke: var(--background-colour);
}
#book-display-page .book-card > header .star-displayer > div > span[data-is-half=true] {
  width: 1.25rem;
}
#book-display-page .book-card > header .star-displayer > div > span:first-child {
  margin-left: 0;
}
#book-display-page .book-card > header .star-displayer > div > span:last-child {
  margin-right: 0;
}
#book-display-page .book-card > header .star-displayer > div:first-child > span > svg {
  filter: drop-shadow(3px 3px 3px black);
}
#book-display-page .book-card > header .star-displayer > div:last-child > span {
  overflow: hidden;
  z-index: 1;
}
#book-display-page .book-card > header .star-displayer > div:last-child > span > svg {
  fill: var(--warning-colour) !important;
}
#book-display-page .book-card > figure {
  position: relative;
  width: 100%;
  height: 100%;
}
#book-display-page .book-card > figure > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#book-display-page .book-card > figure > img:first-child {
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  filter: blur(10px) brightness(80%);
}
#book-display-page .book-card > figure > img:last-child {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#book-display-page .book-card > figure::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(transparent, var(--quarter-transparent-colour));
}
#book-display-page .book-card > figcaption {
  position: absolute;
  bottom: var(--card-padding);
  left: var(--card-padding);
  color: var(--background-colour);
}
#book-display-page .book-card:is(:hover, :focus-within) {
  transform: scale(1.02);
}
#book-display-page > section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#book-display-page > section > div {
  width: -moz-min-content;
  width: min-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 2rem;
}
#book-display-page > section > div:first-child {
  font-weight: bold;
  font-size: xx-large;
}
#book-display-page > section > div#genre-displayer > div:not(:first-child) {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  color: var(--background-colour);
  background-color: var(--main-colour);
}
#book-display-page > section > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#book-display-page #book-display-message {
  flex-grow: 1;
  display: flex;
  place-content: center;
  place-items: center;
}
#book-display-page #book-display-message > section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}