.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
}
.input-field > label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: var(--gray-colour);
  transition: inset 250ms, transform 250ms, color 250ms;
  pointer-events: none;
}
.input-field > input {
  transition: color 250ms, border-color 250ms;
}
.input-field > input:is(:focus, :not(:-moz-placeholder-shown)) + label {
  top: 0;
  transform: translateY(-100%);
  color: inherit;
  pointer-events: auto;
}
.input-field > input:is(:focus, :not(:placeholder-shown)) + label {
  top: 0;
  transform: translateY(-100%);
  color: inherit;
  pointer-events: auto;
}
.input-field > input:is(:focus, :not(:-moz-placeholder-shown)):invalid {
  color: var(--error-colour);
  border-color: var(--error-colour);
}
.input-field > input:is(:focus, :not(:placeholder-shown)):invalid {
  color: var(--error-colour);
  border-color: var(--error-colour);
}
.input-field[data-is-required] > label::after {
  content: "*";
  color: var(--required-colour);
}
.input-field[data-is-file-input] {
  margin: 0;
  padding: 0;
}
.input-field[data-is-file-input] > input {
  display: none;
}
.input-field[data-is-file-input] label {
  position: static;
  transform: none !important;
  cursor: pointer !important;
}