.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 2rem;
}

.advantage .icon-container {
    background: #00e25e;
    color: #fff;
    height: 60px;
    width: 60px;
    border: 8px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage h4 {
    text-transform: uppercase;
    font-weight: 600;
}

.advantage p {
    font-size: small;
}