#signing-page {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 2rem;
}
#signing-page > form {
  --padding: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--padding);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}
#signing-page > form #signing-form-close-button {
  position: absolute;
  top: calc(var(--padding) / 2);
  right: calc(var(--padding) / 2);
}
#signing-page > form > h1 {
  font-size: 2.4rem;
}
#signing-page > form > main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}