.slider {
  --item-padding: 4rem;
  --padding: 1rem;
  display: flex;
  gap: 2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-mask-image: linear-gradient(var(--mask-angle), transparent 0%, black var(--item-padding), black calc(100% - var(--item-padding)), transparent 100%);
          mask-image: linear-gradient(var(--mask-angle), transparent 0%, black var(--item-padding), black calc(100% - var(--item-padding)), transparent 100%);
}
.slider[data-direction=horizontal] {
  --mask-angle: 90deg;
  padding-block: var(--padding);
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  overflow-x: auto;
}
.slider[data-direction=horizontal] > *:first-child {
  margin-inline-start: var(--item-padding);
}
.slider[data-direction=horizontal] > *:last-child {
  margin-inline-end: var(--item-padding);
}
.slider[data-direction=vertical] {
  --mask-angle: 0deg;
  padding-inline: var(--padding);
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;
}
.slider[data-direction=vertical] > *:first-child {
  margin-block-start: var(--item-padding);
}
.slider[data-direction=vertical] > *:last-child {
  margin-block-end: var(--item-padding);
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider > * {
  white-space: nowrap;
  scroll-snap-align: center;
}