#main-header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: var(--header-height);
  overflow: hidden;
  z-index: 10;
}
#main-header > main {
  display: flex;
  flex-wrap: wrap;
  place-content: stretch space-around;
  place-items: stretch space-around;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--background-colour);
  transition: background-color 250ms;
}
#main-header > main h1 {
  font-size: min(3rem, 5vw);
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}
#main-header > main .button-displayer {
  gap: 1rem;
  padding: 0;
}
#main-header > nav {
  flex-grow: 1;
  background-color: var(--main-colour);
  overflow: hidden;
  transition: background-color 250ms;
}
#main-header > nav > ul {
  --item-padding: 10rem;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
#main-header > nav > ul > li {
  height: 100%;
}
#main-header > nav > ul > li > a {
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  padding-inline: 2rem;
  color: var(--background-colour);
  background-color: var(--main-colour);
  transition: filter 250ms, padding 250ms, background-color 250ms;
}
#main-header > nav > ul > li > a:is(:hover, :focus-visible) {
  padding-inline: 4rem;
  filter: brightness(120%);
}
#main-header.sticking-header:not(:hover, :focus-within) > main {
  background-color: color-mix(in srgb, var(--background-colour) 60%, transparent 40%);
}
#main-header.sticking-header:not(:hover, :focus-within) > nav {
  background-color: color-mix(in srgb, var(--main-colour) 60%, transparent 40%);
}
#main-header.sticking-header:not(:hover, :focus-within) > nav a {
  background-color: transparent;
}
@media (max-width: 720px) {
  #main-header #search-form {
    display: none;
  }
}

#dashboard-navigation-bar {
  position: fixed;
  inset: 0;
  left: auto;
  display: flex;
  flex-direction: column;
  place-content: end start;
  place-items: end start;
  gap: 2rem;
  box-shadow: var(--box-shadow);
  color: var(--background-colour);
  background-color: var(--main-colour);
  z-index: 20;
  overflow: auto;
  transition: transform 500ms;
}
#dashboard-navigation-bar > div {
  padding: 1rem;
  padding-left: 0;
  padding-bottom: 0;
}
#dashboard-navigation-bar > ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
}
#dashboard-navigation-bar > ul > li > a {
  text-align: end;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  place-content: center end;
  place-items: center end;
  gap: 1rem;
  padding: 2rem 6rem;
  background-color: var(--main-colour);
  transition: filter 250ms, padding 250ms;
}
#dashboard-navigation-bar > ul > li > a svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: -2rem;
  fill: var(--background-colour);
  stroke: none;
}
#dashboard-navigation-bar > ul > li > a:is(:hover, :focus-visible) {
  padding-block: 3rem;
  filter: brightness(120%);
}
#dashboard-navigation-bar:not([data-is-open]) {
  transform: translateX(100%);
}