:root {
  --main-colour: #00e25e;
  --main-darker-colour: #08a84b;
  --vibrant-colour: #ffffff;
  --background-colour: #eeeeee;
  --background-darker-colour: #cfcfcf;
  --fore-colour: #111111;
  --fore-darker-colour: #1d1d1d;
  --gray-lighter-colour: #999999;
  --gray-colour: #666666;
  --gray-darker-colour: #333333;
  --error-colour: crimson;
  --warning-colour: orange;
  --success-colour: lawngreen;
  --required-colour: orangered;
  --information-colour: dodgerblue;
  --quarter-transparent-colour: hsl(0, 0%, 0%, 75%);
  --half-transparent-colour: hsl(0, 0%, 0%, 50%);
  --three-quarter-transparent-colour: hsl(0, 0%, 0%, 25%);
  --box-shadow-thickness: 1px;
  --box-shadow-blurriness: 5px;
  --box-shadow: calc(+1 * var(--box-shadow-thickness)) calc(+1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--three-quarter-transparent-colour),
      calc(-1 * var(--box-shadow-thickness)) calc(+1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--three-quarter-transparent-colour),
      calc(+1 * var(--box-shadow-thickness)) calc(-1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--three-quarter-transparent-colour),
      calc(-1 * var(--box-shadow-thickness)) calc(-1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--three-quarter-transparent-colour);
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: var(--fore-colour);
  background-color: var(--background-colour);
}
body > main#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body > main#root > main {
  flex-grow: 1;
  padding: 4rem;
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: var(--main-darker-colour);
}

*:not(body)::-webkit-scrollbar-track {
  border: 2px solid var(--main-colour);
  border-radius: 100rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-colour);
  border: 2px solid var(--half-transparent-colour);
  border-radius: 100vh;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: none;
}
button:is(button),
input:is(button) {
  --svg-active-colour: var(--main-colour);
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 250ms, filter 250ms;
}
button:is(button):not(.simple-button),
input:is(button):not(.simple-button) {
  box-shadow: var(--box-shadow);
  background-color: var(--background-colour);
}
button:is(button):is(:hover, :focus-visible):not(:disabled),
input:is(button):is(:hover, :focus-visible):not(:disabled) {
  transform: scale(1.05);
  filter: brightness(120%);
}
button:is(button):is(:hover, :focus-visible):not(:disabled).icon-button svg,
input:is(button):is(:hover, :focus-visible):not(:disabled).icon-button svg {
  fill: var(--svg-active-colour);
}
button:is(button):is(.emphasized-button, [type=submit]),
input:is(button):is(.emphasized-button, [type=submit]) {
  font-weight: bold;
  color: var(--vibrant-colour);
  background-color: var(--main-colour);
}
button:is(button):is(.emphasized-button, [type=submit]) svg,
input:is(button):is(.emphasized-button, [type=submit]) svg {
  fill: var(--background-colour) !important;
  stroke: var(--background-colour) !important;
}
button:is(button):disabled,
input:is(button):disabled {
  cursor: auto;
  filter: contrast(50%);
}
button:is(button).icon-button,
input:is(button).icon-button {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  place-content: center;
  place-items: center;
  padding: 0;
}
button:is(button).icon-button > a,
input:is(button).icon-button > a {
  all: unset;
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}
button:is(button).icon-button > a::after,
input:is(button).icon-button > a::after {
  content: none !important;
}
button:is(button).icon-button svg,
input:is(button).icon-button svg {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  stroke: none;
  fill: var(--fore-colour);
  transition: fill 250ms, stroke 250ms;
}
button[data-svg-active-colour=error],
input[data-svg-active-colour=error] {
  --svg-active-colour: var(--error-colour);
}
button[data-svg-active-colour=warning],
input[data-svg-active-colour=warning] {
  --svg-active-colour: var(--warning-colour);
}
button[data-svg-active-colour=information],
input[data-svg-active-colour=information] {
  --svg-active-colour: var(--information-colour);
}
button[data-svg-active-colour=success],
input[data-svg-active-colour=success] {
  --svg-active-colour: var(--success-colour);
}
button[data-svg-active-colour=required],
input[data-svg-active-colour=required] {
  --svg-active-colour: var(--required-colour);
}
button:is(input),
input:is(input) {
  padding-block: 0.5rem;
  background-color: transparent;
  accent-color: var(--main-colour);
  border-bottom: 2px solid var(--fore-darker-colour);
}
button:is(input):is([type=checkbox], [type=radio]),
input:is(input):is([type=checkbox], [type=radio]) {
  cursor: pointer;
}
button:is(input)[type=search]::-webkit-search-decoration, button:is(input)[type=search]::-webkit-search-cancel-button, button:is(input)[type=search]::-webkit-search-results-button, button:is(input)[type=search]::-webkit-search-results-decoration,
input:is(input)[type=search]::-webkit-search-decoration,
input:is(input)[type=search]::-webkit-search-cancel-button,
input:is(input)[type=search]::-webkit-search-results-button,
input:is(input)[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.button-displayer {
  --grid-repeat: 2;
  display: grid;
  grid-template-columns: repeat(var(--grid-repeat, 1), 1fr);
  gap: 2rem;
  padding: 1rem;
}
.button-displayer[data-grid-repeat="1"] {
  --grid-repeat: 1;
}
.button-displayer[data-grid-repeat="2"] {
  --grid-repeat: 2;
}
.button-displayer[data-grid-repeat="3"] {
  --grid-repeat: 3;
}
.button-displayer[data-grid-repeat="4"] {
  --grid-repeat: 4;
}
.button-displayer[data-grid-repeat="5"] {
  --grid-repeat: 5;
}
.button-displayer[data-grid-repeat="6"] {
  --grid-repeat: 6;
}
.button-displayer[data-grid-repeat="7"] {
  --grid-repeat: 7;
}
.button-displayer[data-grid-repeat="8"] {
  --grid-repeat: 8;
}
.button-displayer[data-grid-repeat="9"] {
  --grid-repeat: 9;
}
.button-displayer[data-grid-repeat="10"] {
  --grid-repeat: 10;
}
.button-displayer[data-grid-repeat="11"] {
  --grid-repeat: 11;
}
.button-displayer[data-grid-repeat="12"] {
  --grid-repeat: 12;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

h6 {
  margin: 0;
  padding: 0;
}

p,
figure {
  margin: 0;
}

.colourized-text,
a:not(.uncolourized-text) {
  --background-image: linear-gradient(180deg,
          var(--main-colour) 50%,
          var(--main-darker-colour));
  font-weight: bold;
  text-decoration: none;
  position: relative;
  color: var(--main-colour);
  background-color: white;
  background-image: var(--background-image);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.colourized-text.stroked-text,
a:not(.uncolourized-text).stroked-text {
  -webkit-text-stroke-color: var(--main-darker-colour);
  -webkit-text-stroke-width: 1px;
}
.colourized-text.stroked-text:is(a)::after,
a:not(.uncolourized-text).stroked-text:is(a)::after {
  border: 1px solid var(--main-darker-colour);
}
.colourized-text:is(a),
a:not(.uncolourized-text):is(a) {
  color: inherit;
}
.colourized-text:is(a):focus-visible,
a:not(.uncolourized-text):is(a):focus-visible {
  outline: 2px solid black;
  border-radius: 2px;
}
.colourized-text:is(a):not(.undecorated-text)::after,
a:not(.uncolourized-text):is(a):not(.undecorated-text)::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: -2px;
  inset-inline: 0;
  height: 2px;
  background-image: var(--background-image);
}

li,
li > a {
  display: block;
}