:root {
    --main-colour: #00ff6a;
    --main-darker-colour: #08a84b;
    --vibrant-colour: #ffffff;
    --background-colour: #eeeeee;
    --background-darker-colour: #cfcfcf;
    --fore-colour: #111111;
    --fore-darker-colour: #1d1d1d;
    --gray-lighter-colour: #999999;
    --gray-colour: #666666;
    --gray-darker-colour: #333333;

    --required-colour: orangered;

    --transparent-colour-quarter: hsl(0, 0%, 0%, 75%);
    --transparent-colour-half: hsl(0, 0%, 0%, 50%);
    --transparent-colour-three-quarter: hsl(0, 0%, 0%, 25%);

    --box-shadow-thickness: 1px;
    --box-shadow-blurriness: 5px;
    --box-shadow:
        calc(+1 * var(--box-shadow-thickness)) calc(+1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--transparent-colour-quarter),
        calc(-1 * var(--box-shadow-thickness)) calc(+1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--transparent-colour-quarter),
        calc(+1 * var(--box-shadow-thickness)) calc(-1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--transparent-colour-quarter),
        calc(-1 * var(--box-shadow-thickness)) calc(-1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--transparent-colour-quarter);

    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    min-height: 100vh;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    margin: 0;

    color: var(--fore-colour);
    background-color: var(--background-colour);

    &>main#root {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &>main {
            flex-grow: 1;

            padding: 4rem;
        }
    }
}

button,
input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;

    border: none;

    &:is(button) {
        padding: 1rem 2rem;

        border-radius: 1rem;

        cursor: pointer;

        transition: transform 250ms, filter 250ms;

        &:not(.simple) {
            box-shadow: var(--box-shadow);
            background-color: var(--background-colour);
        }

        &:is(:hover, :focus-visible):not(:disabled) {
            transform: scale(1.05);

            filter: brightness(120%);
        }

        &:is(.emphasized, [type=submit]) {
            font-weight: bold;

            color: var(--vibrant-colour);
            background-color: var(--main-colour);
        }

        &:disabled {
            cursor: auto;
            filter: contrast(50%);
        }
    }

    &:is(input) {
        padding-block: 0.5rem;

        background-color: transparent;
        accent-color: var(--main-colour);
        border-bottom: 2px solid var(--fore-darker-colour);

        &:is([type=checkbox], [type=radio]) {
            cursor: pointer;
        }
    }
}

.button-displayer {
    --grid-repeat: 2;

    display: grid;
    grid-template-columns: repeat(var(--grid-repeat, 1), 1fr);
    gap: 2rem;

    padding: 1rem;

    @for $i from 1 through 12 {
        &[data-grid-repeat="#{$i}"] {
            --grid-repeat: #{$i};
        }
    }
}

@for $i from 1 through 6 {

    h#{$i} {
        margin: 0;
        padding: 0;
    }
}

p {
    margin: 0;
}

a {
    --background-image: linear-gradient(180deg, var(--main-colour), var(--main-darker-colour));
    font-weight: bold;
    text-decoration: none;

    position: relative;

    color: var(--main-colour);
    background-color: white;
    background-image: var(--background-image);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
        content: "";

        position: absolute;
        top: auto;
        bottom: -2px;
        inset-inline: 0;
        height: 2px;

        background-image: var(--background-image);
    }
}