:root {
    --first-screen-width: 800px;
    --second-screen-width: 520px;

    --main-colour: #00e25e;
    --main-darker-colour: #08a84b;
    --vibrant-colour: #ffffff;
    --background-colour: #eeeeee;
    --background-darker-colour: #cfcfcf;
    --fore-colour: #111111;
    --fore-darker-colour: #1d1d1d;
    --gray-lighter-colour: #999999;
    --gray-colour: #666666;
    --gray-darker-colour: #333333;

    --error-colour: crimson;
    --warning-colour: orange;
    --success-colour: lawngreen;
    --required-colour: orangered;
    --information-colour: dodgerblue;

    --quarter-transparent-colour: hsl(0, 0%, 0%, 75%);
    --half-transparent-colour: hsl(0, 0%, 0%, 50%);
    --three-quarter-transparent-colour: hsl(0, 0%, 0%, 25%);

    --box-shadow-thickness: 1px;
    --box-shadow-blurriness: 5px;
    --box-shadow: calc(+1 * var(--box-shadow-thickness)) calc(+1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--three-quarter-transparent-colour),
        calc(-1 * var(--box-shadow-thickness)) calc(+1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--three-quarter-transparent-colour),
        calc(+1 * var(--box-shadow-thickness)) calc(-1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--three-quarter-transparent-colour),
        calc(-1 * var(--box-shadow-thickness)) calc(-1 * var(--box-shadow-thickness)) var(--box-shadow-blurriness) var(--three-quarter-transparent-colour);

    --header-height: 13rem;

    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    min-height: 100vh;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    margin: 0;

    color: var(--fore-colour);
    background-color: var(--background-colour);

    &>main#root {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &>main {
            flex-grow: 1;

            padding: 4rem;
        }
    }
}

::-webkit-scrollbar {
    $size: 0.75rem;

    width: $size;
    height: $size;
}

::-webkit-scrollbar-track {
    background-color: var(--main-darker-colour);
}

*:not(body)::-webkit-scrollbar-track {
    border: 2px solid var(--main-colour);
    border-radius: 100rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-colour);

    border: 2px solid var(--half-transparent-colour);
    border-radius: 100vh;
}

button,
input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;

    border: none;

    &:is(button) {
        --padding-inline: 2rem;
        --padding-block: 1rem;
        --svg-active-colour: var(--main-colour);

        padding: var(--padding-block) var(--padding-inline);

        border-radius: 1rem;

        cursor: pointer;

        transition: transform 250ms, filter 250ms, background-color 250ms, color 250ms;

        &:not(.simple-button) {
            box-shadow: var(--box-shadow);
            background-color: var(--background-colour);
        }

        &:is(:hover, :focus-visible):not(:disabled) {
            transform: scale(1.05);

            filter: brightness(120%);

            &.icon-button svg {
                fill: var(--svg-active-colour);
            }

            &.emphasized-button svg {
                stroke: var(--svg-active-colour);
            }
        }

        &:is(.emphasized-button, [type="submit"]:not(.unemphasized-button)) {
            --svg-active-colour: var(--background-colour);

            font-weight: bold;

            color: var(--vibrant-colour);
            background-color: var(--main-colour);

            svg {
                fill: var(--background-colour);
                stroke: var(--background-colour);
            }
        }

        &:disabled {
            cursor: auto;
            filter: contrast(50%);
        }

        &.icon-button {
            --size: 4rem;

            width: var(--size);
            height: var(--size);

            display: flex;
            place-content: center;
            place-items: center;

            padding: 0;

            &>a {
                $size: 100%;

                all: unset;

                width: $size;
                height: $size;

                display: flex;
                place-content: center;
                place-items: center;

                &::after {
                    content: none !important;
                }
            }

            svg {
                $size: calc(100% - 1rem);

                width: $size;
                height: $size;

                stroke: none;
                fill: var(--fore-colour);

                transition: fill 250ms, stroke 250ms;
            }
        }

        &.anchor-button {
            display: flex;
            place-content: center;
            place-items: center;

            padding: 0;

            &>a {
                flex-grow: 1;

                padding: var(--padding-block) var(--padding-inline);

                border-radius: inherit;
            }
        }
    }

    @each $colour in error, warning, information, success, required {

        &[data-svg-active-colour="#{$colour}"] {
            --svg-active-colour: var(--#{$colour}-colour) !important;
        }
    }

    &:is(input) {
        padding-block: 0.5rem;

        background-color: transparent;
        accent-color: var(--main-colour);
        border-bottom: 2px solid var(--fore-darker-colour);

        &:is([type=checkbox], [type=radio]) {
            cursor: pointer;
        }

        &[type=search] {

            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                -webkit-appearance: none;
            }
        }
    }
}

.button-displayer {
    --grid-repeat: 2;

    display: grid;
    grid-template-columns: repeat(var(--grid-repeat, 1), 1fr);
    gap: 2rem;

    padding: 1rem;

    @for $i from 1 through 12 {
        &[data-grid-repeat="#{$i}"] {
            --grid-repeat: #{$i};
        }
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
        padding: 0;
    }
}

p,
figure {
    margin: 0;
}

a {
    text-decoration: none;

    color: inherit;
}

.colourized-text,
a:not(.uncolourized-text) {
    --background-image: linear-gradient(180deg,
            var(--main-colour) 50%,
            var(--main-darker-colour));

    font-weight: bold;

    position: relative;

    color: var(--main-colour);
    background-color: white;
    background-image: var(--background-image);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &.stroked-text {
        -webkit-text-stroke-color: var(--main-darker-colour);
        -webkit-text-stroke-width: 1px;

        &:is(a)::after {
            border: 1px solid var(--main-darker-colour);
        }
    }

    &:is(a) {

        &:focus-visible {
            outline: 2px solid black;
            border-radius: 2px;
        }

        &:not(.undecorated-text)::after {
            content: "";

            position: absolute;
            top: auto;
            bottom: -2px;
            inset-inline: 0;
            height: 2px;

            background-image: var(--background-image);
        }
    }
}

li,
li>a {
    display: block;
}