.dashboard-page {
    --padding: min(4rem, 5vw);

    display: flex;
    place-content: start center;
    place-items: start center;

    padding: var(--padding);

    #table-wrapper {
        max-width: calc(100vw - var(--padding) * 4);

        border-radius: 1rem;
        box-shadow: var(--box-shadow);

        .slider {
            --item-padding: 4rem;

            padding: 0;

            table {
                border-collapse: collapse;

                margin-inline: calc(-1 * var(--item-padding));

                caption {
                    position: sticky;
                    left: calc(-1 * var(--item-padding));
                    width: min-content;
                    width: fit-content;

                    padding-block: 2rem;
                }

                caption {
                    margin-inline-start: calc(-1 * var(--item-padding));
                    padding-inline-start: calc(var(--item-padding) * 2);
                }

                :is(td, th) {
                    --padding: 3rem;

                    padding: calc(var(--padding) / 2) var(--padding);

                    &:first-child {
                        padding-inline-start: calc(var(--item-padding) * 2);
                    }

                    &:last-child {
                        position: sticky;
                        right: 0;

                        display: flex;
                        gap: 1rem;

                        // padding-inline-end: calc(var(--item-padding) * 2);

                        box-shadow: calc(-1 * var(--box-shadow-thickness)) 1px calc(var(--box-shadow-blurriness) / 2) var(--half-transparent-colour);

                        &>button {
                            $size: 3.5rem;

                            width: $size;
                            height: $size;

                            background-color: inherit;
                        }
                    }
                }

                th {
                    font-weight: bold;
                    text-align: start;

                    color: var(--background-colour);
                    background-color: var(--main-colour);
                }

                tr {

                    &>td {
                        transition: background-color 250ms;
                    }

                    &:nth-child(odd)>td {
                        background-color: color-mix(in srgb, var(--background-colour) 90%, black 10%);
                    }

                    &:nth-child(even)>td {
                        background-color: color-mix(in srgb, var(--background-colour) 80%, black 20%);
                    }

                    &:is(:hover, :focus-within)>td {
                        background-color: color-mix(in srgb, var(--background-colour) 70%, black 30%);
                    }
                }
            }
        }
    }
}